/* .features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 30px;
  width: 30px;
}

[data-theme='dark'] {
  .subtitle{
    color: #E4E4E7;
  }
}
 */

 .bottomPadding {
  padding-bottom: 1rem;
}