.footer {
  text-align: center;
}

.footer p {
  height: 100%;
  width: 100%;
  padding-top: 1rem;
}


[data-theme='dark'] {
  .footer{
    background: #111827;
    color: #E4E4E7;
  }
}

.endFooter{
  display: flex;
  height: 100%;
  justify-content: space-between;
  padding-top: 17px;
  padding-bottom: 4px;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-top: 12px;
  background-color: #242526;
}

.endFooter p{
  text-align: start;
}

.endFooter div{
  display: flex;
  justify-self: end;
}

.endFooter div > a{
  list-style: none;
  padding-right: 1rem;
  padding-left: 1rem;
  text-align: center;
}

@media (max-width: 640px) {
  .endFooter{
    flex-direction: column;
  }
  .endFooter p{
    text-align: center;
  }
  .endFooter div{
    flex-direction: column;
  }
}