// .footer {
//   text-align: center;
// }

// .footer p {
//   height: 100%;
//   width: 100%;
//   padding-top: 1rem;
// }

[data-theme='dark'] {
  .footer{
    background: #111827;
    color: #E4E4E7;
  }
}

.endFooter{
  padding: 2rem 1rem;
  background-color: #242526;
}

.endFooter > div{
  display: flex;
  justify-content: space-between;
  max-width: 1250px;
  margin: 0 auto;
}

.endFooter p{
  text-align: start;
  margin: 0;
}

.endFooter div > div{
  
}

.endFooter div > a{
  list-style: none;
  padding: 0 1rem;
  text-align: center;
}

@media (max-width: 640px) {
  .endFooter{
    flex-direction: column;
  }
  .endFooter p{
    text-align: center;
  }
  .endFooter div{
    flex-direction: column;
  }
}